* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container {
    text-align: center;
    background: rgba(0,0,0,0.4);
    padding: 50px 70px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

h1 {
    font-size: 38px;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    margin-bottom: 35px;
    color: #ddd;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    padding: 12px 30px;
    background: #00c6ff;
    color: #000;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #00ffcc;
}

.btn-outline {
    background: transparent;
    border: 2px solid #00c6ff;
    color: #00c6ff;
}

.btn-outline:hover {
    background: #00c6ff;
    color: black;
}
